#googleMap {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    float: left;
    transition: width 1s;
}

body {
    position: relative;
    font-family: lato, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

a, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

html, body, #menu, #googleMap {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2 {
    position: absolute;
    z-index: 1;
    color: #c5cddb;
    right: 10px;
}

h1 {
    top: 0;
    font-size: 2em;
}

h2 {
    font-size: 1.1em;
    bottom: 0;
    right: 4%;
}
.classof, .classof:hover {
  color: #1F5CA9;
  text-decoration: underline;
}

.sylvain:hover {
    color: #79AC9A;
}

.jamil:hover {
    color: #9960AC;
}

.cesar:hover {
    color: #AC7468;
}

.alex:hover {
    color: #AC276C;
}

.nasa, .nasa:hover {
    color: #1F5CA9;
}

#menu, #openmenu {
    background-color: rgba(197, 205, 219, 0.8);
}

#menu {
    position: absolute;
    float: left;
    width: 400px;
    height: 100%;
    transition: left 1s;
    left: -400px;
    z-index: 2;
}

#menu.open {
    left: 0;
}

#openmenu {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50px;
    right: -40px;
    z-index: 2;
    padding: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#openmenu:hover {
    cursor: pointer;
}

#closemenu {
    width: 30px;
    padding: 5px;
    margin: auto;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: transform 1s;
}

#closemenu.open {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.gmnoprint a, .gmnoprint span {
    display: none;
}

.gmnoprint div {
    background: none !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    h1, h2 {
      font-size: 1.2em;
      text-align: center;
      width: 80%;
      margin-left: 8%;
    }
    h1, h2 {
        left: 10px;
    }
    #menu {
        width: 90%;
        left: -90%;
    }
    #openmenu {
        top: 0;
    }
}
